name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    concurrency:
      group: lint-${{ github.event_name }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: npm run lint

  build:
    name: Build
    runs-on: ubuntu-latest
    concurrency:
      group: build-${{ github.event_name }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: npm run build
      - run: npm run attw

  test:
    name: Test
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.event_name }}-${{ github.ref }}-${{ matrix.node-version }}
      cancel-in-progress: true

    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22, 24]

    services:
      ydb:
        image: ydbplatform/local-ydb:25.2
        ports:
          - 2135:2135
          - 2136:2136
          - 8765:8765
        volumes:
          - /tmp/ydb_certs:/ydb_certs
        env:
          YDB_ENABLE_COLUMN_TABLES: true
          YDB_USE_IN_MEMORY_PDISKS: true
        options: '-h localhost'

    env:
      YDB_STATIC_CREDENTIALS_USER: root
      YDB_STATIC_CREDENTIALS_PASSWORD: 1234
      YDB_STATIC_CREDENTIALS_ENDPOINT: grpc://localhost:2136
      YDB_CONNECTION_STRING: grpc://localhost:2136/local
      YDB_CONNECTION_STRING_SECURE: grpcs://localhost:2135/local
      YDB_SSL_ROOT_CERTIFICATES_FILE: /tmp/ydb_certs/ca.pem

    steps:
      # Checkout the repository
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm run test:all
